
*.xml
*.cmake
*.exe
*.check_cache
*.cxx
*.iml
*.txt
*.bin
cmake-build-debug/CMakeFiles/3.12.1/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.12.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
*.log
cmake-build-debug/CMakeFiles/feature_tests.c
*.make
*.includecache
*.internal
*.rsp
*.obj
*.a
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/progress.marks
*.cbp
*.marks
*.pc
cmake-build-debug/lib/googletest-master/googlemock/gtest/Makefile
cmake-build-debug/lib/googletest-master/googlemock/Makefile
cmake-build-debug/lib/googletest-master/Makefile
cmake-build-debug/Makefile
lib/googletest-master/.clang-format
*.yml
*.bazel
*.sh
lib/googletest-master/WORKSPACE
lib/googletest-master/LICENSE
*.am
*.ini
lib/googletest-master/README.md
lib/googletest-master/library.json
lib/googletest-master/googletest/xcode/Scripts/versiongenerate.py
lib/googletest-master/googletest/xcode/Samples/FrameworkSample/WidgetFramework.xcodeproj/project.pbxproj
*.cc
*.plist
*.pbxproj
*.xcconfig
lib/googletest-master/googletest/xcode/Samples/FrameworkSample/widget.h
lib/googletest-master/googletest/test/production.h
lib/googletest-master/googletest/test/gtest_xml_test_utils.py
lib/googletest-master/googletest/test/gtest_xml_output_unittest.py
lib/googletest-master/googletest/test/gtest_xml_outfiles_test.py
lib/googletest-master/googletest/test/gtest_testbridge_test.py
lib/googletest-master/googletest/test/gtest_test_utils.py
lib/googletest-master/googletest/test/gtest_json_test_utils.py
lib/googletest-master/googletest/test/gtest_list_output_unittest.py
lib/googletest-master/googletest/test/gtest_help_test.py
lib/googletest-master/googletest/test/gtest-typed-test_test.h
lib/googletest-master/googletest/test/googletest-uninitialized-test.py
lib/googletest-master/googletest/test/googletest-throw-on-failure-test.py
lib/googletest-master/googletest/test/googletest-shuffle-test.py
lib/googletest-master/googletest/test/googletest-param-test-invalid-name2-test.py
lib/googletest-master/googletest/test/googletest-param-test-test.h
lib/googletest-master/googletest/test/googletest-param-test-invalid-name1-test.py
lib/googletest-master/googletest/test/googletest-output-test.py
lib/googletest-master/googletest/test/googletest-list-tests-unittest.py
lib/googletest-master/googletest/test/googletest-json-output-unittest.py
lib/googletest-master/googletest/test/googletest-json-outfiles-test.py
lib/googletest-master/googletest/test/googletest-filter-unittest.py
lib/googletest-master/googletest/test/googletest-env-var-test.py
lib/googletest-master/googletest/test/googletest-color-test.py
lib/googletest-master/googletest/test/googletest-catch-exceptions-test.py
lib/googletest-master/googletest/test/googletest-break-on-failure-unittest.py
lib/googletest-master/googletest/src/gtest-internal-inl.h
lib/googletest-master/googletest/scripts/upload.py
lib/googletest-master/googletest/scripts/release_docs.py
lib/googletest-master/googletest/scripts/pump.py
lib/googletest-master/googletest/scripts/upload_gtest.py
lib/googletest-master/googletest/scripts/gtest-config.in
lib/googletest-master/googletest/scripts/gen_gtest_pred_impl.py
lib/googletest-master/googletest/scripts/fuse_gtest_files.py
lib/googletest-master/googletest/scripts/common.py
lib/googletest-master/googletest/samples/sample4.h
lib/googletest-master/googletest/samples/sample3-inl.h
lib/googletest-master/googletest/samples/sample2.h
lib/googletest-master/googletest/samples/sample1.h
lib/googletest-master/googletest/README.md
lib/googletest-master/googletest/msvc/2010/gtest_unittest.vcxproj
lib/googletest-master/googletest/msvc/2010/gtest_unittest-md.vcxproj.filters
lib/googletest-master/googletest/msvc/2010/gtest_unittest-md.vcxproj
lib/googletest-master/googletest/msvc/2010/gtest_prod_test.vcxproj.filters
lib/googletest-master/googletest/msvc/2010/gtest_prod_test.vcxproj
lib/googletest-master/googletest/msvc/2010/gtest_prod_test-md.vcxproj.filters
lib/googletest-master/googletest/msvc/2010/gtest_unittest.vcxproj.filters
lib/googletest-master/googletest/samples/prime_tables.h
*.vcxproj
*.sln
*.filters
lib/googletest-master/googletest/LICENSE
*.m4
*.pump
lib/googletest-master/googlemock/cmake/gmock_main.pc.in
lib/googletest-master/googlemock/configure.ac
lib/googletest-master/googlemock/CONTRIBUTORS
lib/googletest-master/googlemock/docs/CheatSheet.md
lib/googletest-master/googlemock/docs/CookBook.md
lib/googletest-master/googlemock/docs/DesignDoc.md
lib/googletest-master/googlemock/docs/Documentation.md
lib/googletest-master/googlemock/docs/ForDummies.md
lib/googletest-master/googlemock/docs/FrequentlyAskedQuestions.md
lib/googletest-master/googlemock/docs/KnownIssues.md
lib/googletest-master/googlemock/include/gmock/gmock-actions.h
lib/googletest-master/googlemock/include/gmock/gmock-cardinalities.h
lib/googletest-master/googlemock/include/gmock/gmock-function-mocker.h
lib/googletest-master/googlemock/include/gmock/gmock-generated-actions.h
lib/googletest-master/googlemock/include/gmock/gmock-generated-function-mockers.h
lib/googletest-master/googlemock/include/gmock/gmock-generated-matchers.h
lib/googletest-master/googlemock/include/gmock/gmock.h
lib/googletest-master/googlemock/include/gmock/internal/custom/gmock-generated-actions.h
lib/googletest-master/googlemock/include/gmock/internal/custom/gmock-matchers.h
lib/googletest-master/googlemock/include/gmock/internal/custom/gmock-port.h
lib/googletest-master/googlemock/include/gmock/internal/custom/README.md
lib/googletest-master/googlemock/include/gmock/internal/gmock-internal-utils.h
lib/googletest-master/googlemock/include/gmock/internal/gmock-port.h
lib/googletest-master/googlemock/include/gmock/internal/gmock-pp.h
lib/googletest-master/googlemock/LICENSE
lib/googletest-master/googlemock/msvc/2005/gmock.vcproj
lib/googletest-master/googlemock/msvc/2005/gmock_config.vsprops
lib/googletest-master/googlemock/msvc/2005/gmock_main.vcproj
lib/googletest-master/googlemock/msvc/2005/gmock_test.vcproj
lib/googletest-master/googlemock/msvc/2010/gmock_config.props
lib/googletest-master/googlemock/msvc/2015/gmock_config.props
lib/googletest-master/googlemock/README.md
lib/googletest-master/googlemock/scripts/fuse_gmock_files.py
lib/googletest-master/googlemock/scripts/generator/cpp/__init__.py
lib/googletest-master/googlemock/scripts/generator/cpp/ast.py
lib/googletest-master/configure.ac
lib/googletest-master/CONTRIBUTING.md
lib/googletest-master/googlemock/cmake/gmock.pc.in
lib/googletest-master/googlemock/include/gmock/gmock-matchers.h
lib/googletest-master/googlemock/include/gmock/gmock-more-actions.h
lib/googletest-master/googlemock/include/gmock/gmock-more-matchers.h
lib/googletest-master/googlemock/include/gmock/gmock-nice-strict.h
lib/googletest-master/googlemock/include/gmock/gmock-spec-builders.h
lib/googletest-master/googlemock/scripts/generator/cpp/gmock_class.py
lib/googletest-master/googlemock/scripts/generator/cpp/gmock_class_test.py
lib/googletest-master/googlemock/scripts/generator/cpp/keywords.py
lib/googletest-master/googlemock/scripts/generator/cpp/tokenize.py
lib/googletest-master/googlemock/scripts/generator/cpp/utils.py
lib/googletest-master/googlemock/scripts/generator/gmock_gen.py
lib/googletest-master/googlemock/scripts/generator/LICENSE
lib/googletest-master/googlemock/scripts/gmock_doctor.py
lib/googletest-master/googlemock/scripts/upload.py
lib/googletest-master/googlemock/scripts/upload_gmock.py
lib/googletest-master/googlemock/test/gmock-function-mocker_nc_test.py
lib/googletest-master/googlemock/test/gmock_leak_test.py
lib/googletest-master/googlemock/test/gmock_link_test.h
lib/googletest-master/googlemock/test/gmock_output_test.py
lib/googletest-master/googlemock/test/gmock_test_utils.py
lib/googletest-master/googletest/cmake/Config.cmake.in
lib/googletest-master/googletest/cmake/gtest.pc.in
lib/googletest-master/googletest/cmake/gtest_main.pc.in
lib/googletest-master/googletest/cmake/libgtest.la.in
lib/googletest-master/googletest/codegear/gtest.cbproj
lib/googletest-master/googletest/codegear/gtest.groupproj
lib/googletest-master/googletest/codegear/gtest_main.cbproj
lib/googletest-master/googletest/codegear/gtest_unittest.cbproj
lib/googletest-master/googletest/docs/XcodeGuide.md
lib/googletest-master/googletest/include/gtest/gtest-death-test.h
lib/googletest-master/googletest/include/gtest/gtest-matchers.h
lib/googletest-master/googletest/include/gtest/gtest-message.h
lib/googletest-master/googletest/include/gtest/gtest-param-test.h
lib/googletest-master/googletest/include/gtest/gtest-printers.h
lib/googletest-master/googletest/include/gtest/gtest-spi.h
lib/googletest-master/googletest/include/gtest/gtest-test-part.h
lib/googletest-master/googletest/include/gtest/gtest-typed-test.h
lib/googletest-master/googletest/include/gtest/gtest.h
lib/googletest-master/googletest/include/gtest/gtest_pred_impl.h
lib/googletest-master/googletest/include/gtest/gtest_prod.h
lib/googletest-master/googlemock/scripts/generator/README
lib/googletest-master/googlemock/scripts/generator/README.cppclean
lib/googletest-master/googlemock/scripts/gmock-config.in
lib/googletest-master/googletest/configure.ac
lib/googletest-master/googletest/CONTRIBUTORS
lib/googletest-master/googletest/docs/advanced.md
lib/googletest-master/googletest/docs/faq.md
lib/googletest-master/googletest/docs/Pkgconfig.md
lib/googletest-master/googletest/docs/primer.md
lib/googletest-master/googletest/docs/PumpManual.md
lib/googletest-master/googletest/docs/samples.md
lib/googletest-master/googletest/include/gtest/internal/custom/gtest-port.h
lib/googletest-master/googletest/include/gtest/internal/custom/gtest-printers.h
lib/googletest-master/googletest/include/gtest/internal/custom/gtest.h
lib/googletest-master/googletest/include/gtest/internal/custom/README.md
lib/googletest-master/googletest/include/gtest/internal/gtest-death-test-internal.h
lib/googletest-master/googletest/include/gtest/internal/gtest-filepath.h
lib/googletest-master/googletest/include/gtest/internal/gtest-internal.h
lib/googletest-master/googletest/include/gtest/internal/gtest-param-util-generated.h
lib/googletest-master/googletest/include/gtest/internal/gtest-param-util.h
lib/googletest-master/googletest/include/gtest/internal/gtest-port-arch.h
lib/googletest-master/googletest/include/gtest/internal/gtest-port.h
lib/googletest-master/googletest/include/gtest/internal/gtest-string.h
lib/googletest-master/googletest/include/gtest/internal/gtest-type-util.h
